<h1 class= 'text-center'>WELCOME TO MISTER COCKTAIL</h1>
<br>
<div class= "container">
  <div class="row">
    <div class="col-xs-12 text-center">
    <h2>Our New Cocktails</h2>
    </div>
    <br>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <% @cocktails.each do |cocktail| %>
          <span><%= link_to cocktail.name, cocktail_path(cocktail) %></span>
          <span><%= image_tag cocktail.picture.url(:medium) %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>
