<footer>
  <ul class="social-links list-inline">
    <li>
      <%= link_to "https://twitter.com/" do %>
      <i class="fa fa-twitter"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "https://facebook.com/" do %>
      <i class="fa fa-facebook"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "https://linkedin.com/" do %>
      <i class="fa fa-linkedin"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "https://soundcloud.com/" do %>
      <i class="fa fa-soundcloud"></i>
      <% end %>
    </li>
  </ul>
  <p class="credits">
    Made with <i class="fa fa-heart"></i> at Le Wagon
  </p>
</footer>
